<h1>New Reply</h1>

<% if @parent_comment %>
<p>Replying to:</p>
    <%= render partial: 'comments/comment',
           locals: {
               comment: @parent_comment,
               depth: 0,
               children_to_display: []
            } %>
<% end %>

<%= render partial: 'form', locals: {
    comment: @comment,
    submit_label: "Post Reply",
    form_method: :post
} %>

<h2>in reply to article:</h2>

<%= render partial: 'articles/article', locals: { article: @comment.article } %>