<h1>Breaking News</h1>
<% @articles.each_with_index do |article, index| %>
    <h<%= h_tag_number(index) %>>
        <%= display_article_link(article) %>
    </h<%= h_tag_number(index) %>>
    by <%= display_user_link(article.author) %>
    <br><br>
<% end %>