<h1>Breaking News</h1>
<% @articles.each_with_index do |article, index| %>
    <h<%= h_tag_number(index) %>>
        <%= display_article_link(article) %>
    </h<%= h_tag_number(index) %>>
    <%= author_byline(article) %>
    <br><br>
<% end %>