<h1>Breaking News</h1>
<% @articles.each_with_index do |article, index| %>
    <%= open_h_tag(index) %>
        <%= display_article_link(article) %>
    <%= close_h_tag(index) %>
    <p><%= author_byline(article) %></p>
<% end %>