<h1><%= @user.name %></h1>

<% if !@user.written_articles.empty? %>
    <h2>Articles written:</h2>
    <% @user.written_articles.each do |article| %>
        <h3><%= link_to article.title, article %></h3>
    <% end %>
<% end %>

<% if !@user.comments.empty? %>
    <h2>Comments posted:</h2>
    <ul>
    <% @user.comments.each do |comment| %>
        <li><%= link_to comment.content, comment %></li>
    <% end %>
    </ul>
<% end %>