body {
    background-color: aliceblue;
}

td.level-0-stripe {
    background-color: red;
}

td.level-1-stripe {
    background-color: orange;
}

td.level-2-stripe {
    background-color: gold;
}

td.level-3-stripe {
    background-color: limegreen;
}

td.level-4-stripe {
    background-color: turquoise;
}

td.level-5-stripe {
    background-color: blue;
}

td.level-6-stripe {
    background-color: violet;
}

li.error, p.flash-error {
    color: crimson;
}

p.flash-message {
    color: rgb(2, 218, 2);
}

div.highlight {
    background-color: rgb(154, 226, 255);
}

ul#navbar {
    background-color: #999;
}

ul#navbar li a {
    color: black
}

ul#navbar li a:hover {
    background-color: #777;
}