input[type=text] {
    width: 25%;
    padding: 1px;
}

input[type=text]#article_title {
    width: 70%;
}

textarea {
    width: 28%;
    height: 120px;
    padding: 5px;
}

textarea#article_content {
    width: 50%;
    height: 500px;
}

td.stripe {
    width: 1px;
    padding: 0px;
}

td.side-stripe {
    width: 40px;
}