input[type=text] {
    width: 25%;
    padding: 1px;
}

input[type=text]#article_title {
    width: 70%;
}

textarea {
    width: 28%;
    height: 120px;
    padding: 5px;
}

textarea#article_content {
    width: 50%;
    height: 500px;
}

td.stripe {
    width: 1px;
    padding: 0px;
}

td.side-stripe {
    width: 40px;
}

div.field_with_errors input, div.field_with_errors textarea {
    border-radius: 5px;
    border-color: crimson;
    border-width: 3px;
}

div.highlight {
    padding: 1px;
    padding-left: 10px;
    border-radius: 10px;
}